In [1]:
import pandas as pd
import numpy as np
import urllib.request
import requests
import urllib
import wget
import zipfile

# Importing data and preprocesing

In [55]:
print('Downloading...')
#this link still doesnt work.... 
#will fix when they answer my emails... 
#can be exchanged for any other database system with this kind of shema
downloaddata = 'https://data.oebb.at/oebb?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/GFTS_Fahrplan_OEBB_20191211.zip'

urllib.request.urlretrieve(downloaddata, 'data/zip.zip')
print('...Finished')

Downloading...
...Finished

In [23]:
#url = 'https://data.oebb.at/oebb/?dataset=uddi:cd36722f-1b9a-11e8-8087-b71b4f81793a&file=uddi:d3e25791-7889-11e8-8fc8-edb0b0e1f0ef/GFTS_Fahrplan_OEBB_20191211.zip'
#r = requests.get(url)
#with open("data/zip.zip", "wb") as code:
#    code.write(r.content)
#urllib.request.urlretrieve(url, "data/zip.zip")

In [2]:
with zipfile.ZipFile("data/OBB.zip", 'r') as zip_ref:
    zip_ref.extractall("data")

In [3]:
data1 = pd.read_csv("data/stop_times.txt")
data2 = pd.read_csv("data/stops.txt")
data3 = pd.read_csv("data/trips.txt")

In [4]:
data1.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled
0,1,08:42:00,08:42:00,8103000,1,NaN,0,1,NaN
1,1,08:47:00,08:49:00,8100514,2,NaN,0,0,NaN
2,1,09:13:00,09:15:00,8100008,3,NaN,0,0,NaN
3,1,10:02:00,10:04:00,8100013,4,NaN,0,0,NaN
4,1,10:23:00,10:25:00,8100167,5,NaN,0,0,NaN

In [5]:
data2.head()

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,platform_code
0,5100009,NaN,Gdansk Glowny,NaN,54.355520,18.643803,NaN,NaN,0,NaN,NaN
1,5100010,NaN,Gdynia Glowna,NaN,54.520840,18.529556,NaN,NaN,0,NaN,NaN
2,5100066,NaN,Warszawa Wschodnia,NaN,52.251548,21.052335,NaN,NaN,0,NaN,NaN
3,5300007,NaN,Bucuresti Nord Gara A,NaN,44.446770,26.074412,NaN,NaN,0,NaN,NaN
4,5400014,NaN,Praha hl.n.,NaN,50.083062,14.436039,NaN,NaN,0,NaN,NaN

In [6]:
data3.head()

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,block_id,shape_id,trip_type
0,1,1,1,Bischofshofen Bahnhof,IC 1010,NaN,1,NaN,1
1,1,1,2,Wien Hbf,IC 1011,NaN,2,NaN,1
2,2,0,3,Saalfelden Bahnhof,RJX 1012,NaN,3,NaN,1
3,3,0,4,Saalfelden Bahnhof,REX 1012,NaN,3,NaN,1
4,4,0,5,Wien Hbf,RJ 1040,NaN,4,NaN,1

In [7]:
data1 = data1.dropna(axis=1)

In [8]:
data2 = data2.dropna(axis=1)

In [9]:
data3 = data3.drop(["service_id", "direction_id", "block_id", "shape_id", "trip_type"], axis=1)

In [10]:
data = pd.merge(data1, data2,  how='left', left_on=['stop_id'], right_on = ['stop_id'])

In [11]:
data = pd.merge(data, data3,  how='left', left_on=['trip_id'], right_on = ['trip_id'])

In [12]:
data.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,location_type,route_id,trip_headsign,trip_short_name
0,1,08:42:00,08:42:00,8103000,1,0,1,Wien Hbf,48.185101,16.377113,0,1,Bischofshofen Bahnhof,IC 1010
1,1,08:47:00,08:49:00,8100514,2,0,0,Wien Meidling Bahnhof,48.174582,16.333737,0,1,Bischofshofen Bahnhof,IC 1010
2,1,09:13:00,09:15:00,8100008,3,0,0,St.Pölten Hbf,48.208332,15.623804,0,1,Bischofshofen Bahnhof,IC 1010
3,1,10:02:00,10:04:00,8100013,4,0,0,Linz/Donau Hbf,48.290148,14.291813,0,1,Bischofshofen Bahnhof,IC 1010
4,1,10:23:00,10:25:00,8100167,5,0,0,Rohr-Bad Hall Bahnhof,48.069586,14.191205,0,1,Bischofshofen Bahnhof,IC 1010

In [13]:
name1 = "Graz Hbf"
name2 = "Wien Hbf"

GW = data[(data.stop_name == name1) | (data.stop_name == name2)]

In [14]:
GW_duplicate = GW[GW.duplicated(['trip_id'])]

In [15]:
GW_duplicate.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,location_type,route_id,trip_headsign,trip_short_name
104,14,20:33:00,20:33:00,8100173,9,1,0,Graz Hbf,47.072503,15.416464,0,4,Graz Hbf,RJ 1255
1242,96,14:02:00,14:02:00,8103000,11,1,0,Wien Hbf,48.185101,16.377113,0,9,Wien Hbf,EC 158
58783,4210,08:33:00,08:33:00,8100173,7,1,0,Graz Hbf,47.072503,15.416464,0,4,Graz Hbf,RJ 551
58791,4211,09:33:00,09:33:00,8100173,8,1,0,Graz Hbf,47.072503,15.416464,0,4,Graz Hbf,RJ 553
58799,4212,10:02:00,10:12:00,8103000,8,0,0,Wien Hbf,48.185101,16.377113,0,4,Flughafen Wien Bahnhof,RJ 554

In [16]:
GW_trip_id_column = GW_duplicate["trip_id"].reset_index(drop=True)

In [17]:
GW_list = GW_trip_id_column.values.tolist()

In [18]:
print(len(GW_list))

45

In [19]:
data_route = data.loc[data['trip_id'].isin(GW_list)]

In [20]:
data_route.head(10)

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,location_type,route_id,trip_headsign,trip_short_name
96,14,17:33:00,17:33:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,4,Graz Hbf,RJ 1255
97,14,17:48:00,17:58:00,8103000,2,0,0,Wien Hbf,48.185101,16.377113,0,4,Graz Hbf,RJ 1255
98,14,18:03:00,18:05:00,8100514,3,0,0,Wien Meidling Bahnhof,48.174582,16.333737,0,4,Graz Hbf,RJ 1255
99,14,18:28:00,18:32:00,8100516,4,0,0,Wr.Neustadt Hbf,47.811693,16.233812,0,4,Graz Hbf,RJ 1255
100,14,19:14:00,19:15:00,8100028,5,0,0,Semmering Bahnhof,47.639704,15.831028,0,4,Graz Hbf,RJ 1255
101,14,19:28:00,19:30:00,8100029,6,0,0,Mürzzuschlag Bahnhof,47.607874,15.677004,0,4,Graz Hbf,RJ 1255
102,14,19:51:00,19:52:00,8100031,7,0,0,Kapfenberg Bahnhof,47.445195,15.292089,0,4,Graz Hbf,RJ 1255
103,14,19:56:00,19:58:00,8100032,8,0,0,Bruck/Mur Bahnhof,47.413649,15.279495,0,4,Graz Hbf,RJ 1255
104,14,20:33:00,20:33:00,8100173,9,1,0,Graz Hbf,47.072503,15.416464,0,4,Graz Hbf,RJ 1255
1232,96,07:00:00,07:00:00,7800020,1,0,1,Zagreb Glavni kolodvor,45.804438,15.978705,0,9,Wien Hbf,EC 158
1233,96,10:14:00,10:19:00,7900006,2,0,1,Maribor,46.562065,15.658011,0,9,Wien Hbf,EC 158
1234,96,10:36:00,10:48:00,8100082,3,0,0,Spielfeld-Straß Bahnhof,46.709581,15.629121,0,9,Wien Hbf,EC 158
1235,96,10:57:00,10:58:00,8100035,4,0,0,Leibnitz Bahnhof,46.781221,15.546851,0,9,Wien Hbf,EC 158
1236,96,11:20:00,11:26:00,8100173,5,0,0,Graz Hbf,47.072503,15.416464,0,9,Wien Hbf,EC 158
1237,96,12:01:00,12:03:00,8100032,6,0,0,Bruck/Mur Bahnhof,47.413649,15.279495,0,9,Wien Hbf,EC 158
1238,96,12:09:00,12:11:00,8100031,7,0,0,Kapfenberg Bahnhof,47.445195,15.292089,0,9,Wien Hbf,EC 158
1239,96,12:32:00,12:33:00,8100029,8,0,0,Mürzzuschlag Bahnhof,47.607874,15.677004,0,9,Wien Hbf,EC 158
1240,96,13:28:00,13:32:00,8100516,9,0,0,Wr.Neustadt Hbf,47.811693,16.233812,0,9,Wien Hbf,EC 158
1241,96,13:55:00,13:57:00,8100514,10,0,0,Wien Meidling Bahnhof,48.174582,16.333737,0,9,Wien Hbf,EC 158
1242,96,14:02:00,14:02:00,8103000,11,1,0,Wien Hbf,48.185101,16.377113,0,9,Wien Hbf,EC 158

In [59]:
columns = data_route.columns
data_clean_route = pd.DataFrame(columns=columns)
data_clean_route["start"] = ""
data_clean_route["stop"] = ""

for tripID in GW_list:
    flag = False
    temp = data_route[data_route.trip_id == tripID]
    temp["start"] = ""
    temp["stop"] = ""
    stopsNumber = temp.stop_sequence.count()
    for i in range(stopsNumber):
        stopName = temp.stop_name.values[i]
        if( (stopName == name1 or stopName == name2) and flag == False):
            firstStop = stopName
            if firstStop == name1:
                secondStop = name2
            else:
                secondStop = name1
            flag = True
            temp.loc[temp.stop_sequence == i+1, 'start'] = firstStop
            temp.loc[temp.stop_sequence == i+1, 'stop'] = secondStop
            data_clean_route = data_clean_route.append(temp[temp.stop_sequence == i+1])
        elif(flag and (stopName == name1 or stopName == name2)):
            flag = False
            temp.loc[temp.stop_sequence == i+1, 'start'] = firstStop
            temp.loc[temp.stop_sequence == i+1, 'stop'] = secondStop
            data_clean_route = data_clean_route.append(temp[temp.stop_sequence == i+1])
        else:
            temp.loc[temp.stop_sequence == i+1, 'start'] = firstStop
            temp.loc[temp.stop_sequence == i+1, 'stop'] = secondStop
            data_clean_route = data_clean_route.append(temp[temp.stop_sequence == i+1])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [61]:
data_clean_route.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,pickup_type,drop_off_type,stop_name,stop_lat,stop_lon,location_type,route_id,trip_headsign,trip_short_name,start,stop
96,14,17:33:00,17:33:00,8100353,1,0,1,Flughafen Wien Bahnhof,48.121081,16.563103,0,4,Graz Hbf,RJ 1255,Wien Hbf,Graz Hbf
97,14,17:48:00,17:58:00,8103000,2,0,0,Wien Hbf,48.185101,16.377113,0,4,Graz Hbf,RJ 1255,Wien Hbf,Graz Hbf
98,14,18:03:00,18:05:00,8100514,3,0,0,Wien Meidling Bahnhof,48.174582,16.333737,0,4,Graz Hbf,RJ 1255,Wien Hbf,Graz Hbf
99,14,18:28:00,18:32:00,8100516,4,0,0,Wr.Neustadt Hbf,47.811693,16.233812,0,4,Graz Hbf,RJ 1255,Wien Hbf,Graz Hbf
100,14,19:14:00,19:15:00,8100028,5,0,0,Semmering Bahnhof,47.639704,15.831028,0,4,Graz Hbf,RJ 1255,Wien Hbf,Graz Hbf

## Saving the data

In [63]:
data_clean_route.to_csv((name1 + "-" +  name2 +".csv"), encoding='utf-8', index=False)

## We need to add : 
Change data import link to some some other train company untill obb get their stuff together \
Try to add day (week day or weekend)